{% extends "CRLAdminBundle::layout.html.twig" %}
{% form_theme form 'CRLAdminBundle:Form:fields.html.twig' %}
{% block csscontent %}
.field-label {
	width: 150;
    display: inline-block;
}
.field-widget {
    display: inline-block;
}
{% endblock %}

{% block title "Symfony - Admin Edit" %}

{% block content_header '' %}

{% block content %}
<h2>{{ entity }} - Delete</h2>
<form action="{{ deleteurl }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
<input type="submit" value="Delete Record" />

{% endblock %}
